<md-content>
  <header>
    <md-toolbar layout="row" layout-align="center center" >
      <div class="md-toolbar-tools">
        <a href="#">Cathy</a>
        <section flex layout="row" layout-align="end center">
          <md-button href="#">Option #1</md-button>
          <md-button href="#">Option #2</md-button>
          <md-button href="#">Option #3</md-button>
        </section>
      </div>
    </md-toolbar>
  </header>
</md-content>
<main layout="row" layout-padding layout-align="center start">
  <md-content flex="50">
    <h1>Cath... wait for it!</h1>
  </md-content>
  <md-content flex="30">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Sign Up">
        <md-content class="md-padding">
          <form ng-submit="ctrl.signUp()" layout="column">
            <md-input-container>
              <label>Name</label>
              <input ng-model="ctrl.register.name" type="text">
            </md-input-container>
            <md-input-container>
              <label>Username</label>
              <input ng-model="ctrl.register.username" type="text">
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input ng-model="ctrl.register.password" type="password">
            </md-input-container>
            <md-button type="submit" class="md-raised md-primary">Sign Up</md-button>
          </form>
        </md-content>
      </md-tab>
      <md-tab label="Sign In">
        <md-content class="md-padding">
          <form ng-submit="ctrl.signIn()" layout="column">
            <md-input-container>
              <label>Username</label>
              <input ng-model="ctrl.username" type="text">
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input ng-model="ctrl.password" type="password">
            </md-input-container>
            <md-button type="submit" class="md-raised md-primary">Sign In</md-button>
            <md-button>Problems?</md-button>
          </form>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</main>
