<cathy-navbar></cathy-navbar>

<main layout="row" layout-padding layout-align="center start">
  <md-content flex="30">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Categories">
        <md-content class="md-padding">
          <md-list flex>
            <form ng-submit="ctrl.newCategory()" layout="column">
              <md-input-container>
                <label>Name</label>
                <input ng-model="ctrl.category.name" type="text">
              </md-input-container>
            </form>
            <md-list-item ng-repeat="category in ctrl.categories | filter: ctrl.category.name" class="md-2-line">
              <md-icon aria-label="{{category.icon}}" ng-if="category.icon">
                {{category.icon}}
              </md-icon>
              <div class="md-list-item-text">
                <h3>
                  {{ category.name }}
                </h3>
                <p>0 transactions</p>
              </div>
              <md-button class="md-secondary md-icon-button" ng-click="ctrl.showCategoryDialog(category)" aria-label="edit">
                <md-icon>edit</md-icon>
              </md-button>
              <!-- <md-button class="md-secondary md-icon-button" ng-click="null" aria-label="remove">
                <md-icon>remove_circle</md-icon>
              </md-button> -->
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>
      <md-tab label="People">
        <md-content class="md-padding">
          <md-list flex>
            <form ng-submit="ctrl.newPerson()" layout="column">
              <md-input-container>
                <label>Name</label>
                <input ng-model="ctrl.person.name" type="text">
              </md-input-container>
            </form>
            <md-list-item ng-repeat="person in ctrl.people | filter: ctrl.person.name" class="md-2-line">
              <md-icon aria-label="face" >
                face
              </md-icon>
              <div class="md-list-item-text">
                <h3>
                  {{ person.name }}
                </h3>
                <p>R$ 0,00</p>
              </div>
              <md-button class="md-secondary md-icon-button" ng-click="ctrl.showPersonDialog(person)" aria-label="edit">
                <md-icon>edit</md-icon>
              </md-button>
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
  <md-content flex="70">
    <h2>Transactions</h2>
  </md-content>
</main>
